.footer {
    text-align: center;
    background-color: $bg-color;
    padding: 30px;
&__box {
        border-top: 2px solid $separator-color;
        padding-top: 30px;
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
            gap: 30px;
            @media screen and (min-width: $breakpoint-lg) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
}

&__box2 {
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $breakpoint-lg) {
        align-items: start;
    }

}

    &__info {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 10px;
        @media screen and (min-width: $breakpoint-md) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        span {
            text-align: center;
        }
    }

    &__info-box {
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    &__map {
        font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            color: $regular-color;
    }

    &__info-contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media screen and (min-width: $breakpoint-md) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 0;

        }
    }

    &__menu-icon {
        width: 38px;
        height: 38px;
        fill: $regular-color;
        &:hover {
            fill: $accent-color
        }
    }

    &__tell {
        font-size: 16px;
        font-weight: 700;
        color: $alt-color;
        text-decoration: none;
    }

    &__mail {
    font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-decoration: none;
        color: $regular-color;
        &:hover {
            color: $accent-color;
        }
    }

    &__roots {
        padding: 30px;
        font-size: 16px;
        color: $text-color;
        @media screen and (min-width: $breakpoint-md) {
            padding: 0;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
    &__separator {
        position: relative;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $text-color
        }
    }

}
