body {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 400;
}

.wrapper {
	background: $gradient-supersoft;
}

.container {
	// от 0 до 767px
	padding: 0 30px;

	// от 768 до 1023 включительно
	@media screen and (min-width: $breakpoint-md) {
		max-width: 708px;
		margin: 0 auto;
	}
	// от 1024 до 1439px 
	@media screen and (min-width: $breakpoint-lg) {
		max-width: 964px;
	}

	@media screen and (min-width: $breakpoint-xl) {
		max-width: 1380px;
	}

	@media screen and (min-width: $breakpoint-xxl) {
		max-width: 1660px;
	}
}

.dotted {}

.dotted--white {}

.dotted--gray {}